html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div {
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

button {
  outline: 0; }
  button:hover {
    cursor: pointer; }

body {
  font-family: Montserrat, Arial, sans-serif;
  background-color: #333; }

.header {
  background-color: #133a7c;
  padding: 0 20px 10px 20px; }
  .header__wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto; }

.main-nav {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: 400; }
  .main-nav__nav {
    flex: 1; }
  .main-nav__link-logo {
    margin-right: 50px; }
  .main-nav__logo {
    display: block; }
  .main-nav__list {
    display: flex; }
  .main-nav__item {
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; }
    .main-nav__item a {
      padding: 0 8px;
      height: 100%;
      transition: all 0.2s ease; }
      .main-nav__item a:hover {
        color: #bfcc2d; }
  .main-nav__options {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px; }
  .main-nav__contact-btn {
    margin-right: 20px;
    border: 1px solid #fff;
    min-width: 120px;
    height: 30px;
    padding: 5px 10px;
    font-size: inherit;
    border-radius: 5px;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    transition: all 0.2s ease; }
    .main-nav__contact-btn:hover {
      border-color: #bfcc2d;
      color: #bfcc2d;
      cursor: pointer; }
  .main-nav__user-btn {
    color: inherit;
    font-size: inherit;
    display: flex;
    align-items: center;
    transition: all 0.2s ease; }
    .main-nav__user-btn i {
      margin-right: 10px;
      font-size: 29px; }
    .main-nav__user-btn:hover {
      color: #bfcc2d;
      cursor: pointer; }

.sub-nav {
  margin-bottom: 15px; }
  .sub-nav__item {
    font-family: inherit;
    font-size: 14px;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    padding: 0 0 2px;
    font-weight: 300;
    transition: all 0.4s ease;
    margin-right: 20px; }
    .sub-nav__item--selected {
      color: #fff;
      border-color: #bfcc2d; }
    .sub-nav__item:hover {
      color: #fff;
      cursor: pointer; }
    .sub-nav__item:last-of-type {
      margin: 0; }

.search-bar {
  width: 100%;
  display: flex;
  height: 45px; }
  .search-bar__input {
    flex: 1;
    position: relative; }
    .search-bar__input span {
      position: absolute;
      top: 0;
      left: 15px;
      top: 50%;
      transform: translateY(-50%); }
    .search-bar__input i {
      color: #333641; }
    .search-bar__input input {
      height: 100%;
      width: 100%;
      padding: 0 20px 0 40px;
      border-radius: 5px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      outline: 0;
      border: 0;
      font-family: inherit;
      font-size: 16px;
      color: #333641;
      font-weight: 300; }
  .search-bar__button {
    border-radius: 5px;
    background-color: #e6207e;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    min-width: 185px;
    padding: 10px;
    line-height: 1.6;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

.main-content {
  color: #333641; }
  .main-content__promotions {
    padding: 5px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: #5c975e;
    color: #fff;
    font-weight: 300; }
    .main-content__promotions--highlighted {
      color: #e2ed6a; }
  .main-content__wrapper {
    display: block;
    width: 100%;
    display: flex;
    background-color: #fff; }
    @media screen and (max-width: 768px) {
      .main-content__wrapper {
        flex-direction: column; } }
  .main-content__slideshow, .main-content__info {
    width: 50%; }
    @media screen and (max-width: 768px) {
      .main-content__slideshow, .main-content__info {
        width: 100%; } }
  .main-content__info {
    padding: 20px;
    max-width: 650px;
    padding: 40px 30px 15px 40px; }
    @media screen and (max-width: 768px) {
      .main-content__info {
        max-width: 100%; } }
  .main-content__header {
    display: flex; }
  .main-content__details {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 100px); }
  .main-content__country, .main-content__sub-title {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4; }
  .main-content__title {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.4em; }
  .main-content__img {
    position: relative;
    flex: 1; }
    .main-content__img img {
      position: absolute;
      top: -30px;
      right: 0px; }
  .main-content__days {
    font-size: 15px;
    margin-top: 15px;
    display: inline-flex;
    align-items: center;
    font-weight: 300; }
    .main-content__days span {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px; }
    .main-content__days i {
      margin-right: 5px;
      font-size: 20px; }
    .main-content__days .small {
      font-size: 16px;
      margin-right: 12px; }
    .main-content__days--bold {
      font-weight: 600; }
  .main-content__services {
    border-top: 1px solid #9e9e9e;
    border-bottom: 1px solid #9e9e9e;
    padding: 10px 15px;
    margin: 5vh 0;
    font-size: 12px;
    font-weight: 300;
    display: flex; }
  .main-content__service-container {
    display: flex;
    align-items: center;
    align-items: center;
    display: flex;
    float: left;
    height: 50px;
    margin-right: 15px;
    line-height: 1.4; }
    .main-content__service-container span {
      max-width: 85px; }
  .main-content__icon-wrapper {
    margin-right: 10px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .main-content__icon-wrapper i {
      font-size: 24px; }
  .main-content__date-container {
    border-radius: 5px;
    border: 1px solid #9e9e9e;
    width: 310px;
    padding: 15px;
    font-weight: 300;
    line-height: 1.4;
    margin-right: 35px; }
    .main-content__date-container img {
      width: 40px;
      margin: 0 8px; }
    @media screen and (max-width: 1240px) {
      .main-content__date-container {
        width: 100%;
        margin-bottom: 15px; } }
  .main-content__date-header {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-bottom: 10px; }
  .main-content__date-title {
    display: inherit;
    justify-content: space-between;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 5px; }
    .main-content__date-title span:last-of-type {
      font-size: 12px;
      color: #e6207e; }
  .main-content__date-price, .main-content__dates, .main-content__single-date-container, .main-content__single-date-month {
    display: flex; }
  .main-content__date-price {
    margin-bottom: 40px; }
    @media screen and (max-width: 1240px) {
      .main-content__date-price {
        flex-direction: column; } }
  .main-content__single-date-month {
    flex-direction: column;
    font-weight: 300;
    text-transform: capitalize;
    justify-content: center;
    font-size: 18px; }
  .main-content__price-container {
    font-size: 12px; }
    .main-content__price-container .bold {
      font-weight: 600; }
    .main-content__price-container .green {
      color: #5c975e; }
    .main-content__price-container .txt-big {
      font-weight: normal;
      font-size: 40px; }
  .main-content__single-date-number {
    font-size: 50px;
    margin-right: 5px; }
  .main-content__price-discount {
    width: 55px;
    height: 30px;
    color: white;
    font-weight: 400;
    letter-spacing: .8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF6D00;
    margin-bottom: 35px; }
  .main-content__a-partir {
    font-weight: 300; }
    .main-content__a-partir .line-thorugh {
      text-decoration: line-through; }
  .main-content__final-price {
    margin: 10px 0 15px;
    display: flex;
    font-size: 15px; }
    .main-content__final-price > span {
      color: #FF6D00;
      margin-right: 10px; }
  .main-content__final-price-label {
    padding-top: 5px;
    font-size: 12px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    line-height: 1.4; }
  .main-content__cancelamento {
    font-weight: 300;
    font-size: 11px; }
  .main-content__select-btn {
    text-transform: uppercase;
    font-weight: 400;
    width: 310px;
    height: 40px;
    font-size: 14px;
    color: #fff;
    background-color: #e6207e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: all 0.3s ease; }
    .main-content__select-btn:hover {
      background-color: #ea4593; }
    @media screen and (max-width: 1240px) {
      .main-content__select-btn {
        width: 100%; } }
  .main-content__slideshow-wrapper {
    height: 650px;
    background-image: url(../img/disney-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; }
    .main-content__slideshow-wrapper:hover {
      cursor: pointer; }
  .main-content__thumbnails {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 10px; }
  .main-content__single-thumbnail {
    border: 1px solid #fff;
    transition: all 0.2s ease;
    overflow: hidden;
    width: 72px;
    height: 52px;
    margin-right: 5px;
    background-color: #fff;
    color: #fff;
    position: relative; }
    .main-content__single-thumbnail span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 300;
      font-size: 24px;
      pointer-events: none; }
    .main-content__single-thumbnail:hover {
      border-color: #FF6D00; }
    .main-content__single-thumbnail img {
      height: 55px;
      transition: all 0.2s ease; }
      .main-content__single-thumbnail img:hover {
        opacity: .8; }
    .main-content__single-thumbnail--total {
      background-color: #133a7c;
      border-color: #133a7c; }
      .main-content__single-thumbnail--total img {
        opacity: .2;
        transition: all 0.2s ease; }
        .main-content__single-thumbnail--total img:hover {
          opacity: .1; }

.gallery {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  display: none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }
  .gallery--show {
    display: block; }
  .gallery__wrapper, .gallery__arrow {
    display: flex;
    justify-content: center;
    align-items: center; }
  .gallery__wrapper {
    height: 100%;
    width: 100%; }
  .gallery__close, .gallery__arrow {
    position: absolute;
    color: #fff;
    font-size: 40px;
    z-index: 999; }
  .gallery__arrow {
    height: 100%;
    width: 50px; }
    .gallery__arrow--right {
      right: 0;
      justify-content: flex-start; }
    .gallery__arrow--left {
      left: 0;
      justify-content: flex-end; }
    .gallery__arrow:hover {
      cursor: pointer; }
  .gallery__close {
    right: 20px;
    top: 20px; }
    .gallery__close:hover {
      cursor: pointer; }
  .gallery__img-container {
    width: 768px;
    max-width: 100vw;
    min-height: 90vh;
    overflow: hidden;
    margin: auto;
    background-image: url(../img/disney-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; }
  .gallery__img-counter {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 5px;
    color: #fff;
    letter-spacing: 2px; }
